@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


body{
    background-color: #A7C7E7;
    color: #4B4B4B;
}

.text{
    text-align: center;
    font-family:"Oswald", sans-serif;
}

p{
    text-align: center;
    font-size: xx-large;
}

.pp1{
    font-size: 50px;
    background-color: blueviolet;
    padding: 5px 10px;
    font-size: 24px;
    color: #4B4B4B; 
    display: inline;
}

.pp{
    display: flex;
    justify-content: center; 
    align-items: center;   
}

.voltar1{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.voltar{
    font-size: 50px;
    background-color: orange;
    padding: 5px 10px;
    font-size: 24px;
    color: #4B4B4B; 
    display: inline;
}

a {
    text-decoration: none; 
}